
:root {
  --bg: #fdfdfd;
  --text: #222;
  --link: #0000FF;
}

.darkmode {
  --bg: #121212;
  --text: #e6e6e6;
  --link: #4DA6FF;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;

  font-family: Georgia, serif;
  line-height: 1.6;
  max-width: 800px;
  margin: auto;
  padding: 20px;

   min-height: 100vh;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

a {
  margin: 0 10px;
  text-decoration: none;
  color: var(--link);  
}

a:hover {
  text-decoration: underline;
}

/* a:visited { */
  /* color: #333399; */
/* } */

h1 {
  margin-bottom: 10px;
}

h3 {
  margin-bottom: 10px;
}

main ul {
  list-style: none;
  padding-left: 0;
}

main ul li {
  margin-bottom: 10px;
}

ul.bulleted {
  list-style: disc;
  padding-left: 20px;
}


#theme-switch{
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--base-variant);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 20px;
}
#theme-switch svg{
  fill: #A9A9A9;
}
#theme-switch svg:last-child{
  display: none;
}
.darkmode #theme-switch svg:first-child{
  display: none;
}
.darkmode #theme-switch svg:last-child{
  display: block;
}
